@charset "UTF-8";

// Colors
@import "components/color";

// Variables;
@import "components/variables";

// Reset
@import "components/normalize";

// components
@import "components/global";
@import "components/badges";
@import "components/icons-material-design";
@import "components/grid";
@import "components/navbar";
@import "components/roboto";
@import "components/typography";
@import "components/transitions";
@import "components/cards";
@import "components/toast";
@import "components/tabs";
@import "components/tooltip";
@import "components/buttons";
@import "components/dropdown";
@import "components/waves";
@import "components/modal";
@import "components/collapsible";
@import "components/chips";
@import "components/materialbox";
@import "components/forms/forms";
@import "components/table_of_contents";
@import "components/sideNav";
@import "components/preloader";
@import "components/slider";
@import "components/carousel";
@import "components/tapTarget";
@import "components/pulse";
@import "components/date_picker/default";
@import "components/date_picker/default.date";
@import "components/date_picker/default.time";

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#result,
#colors {
    color: rgb(119, 233, 119);
    font-weight: bold;
}


#colors {
    // background-color: white;
    padding: 10px;
}


#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: no-repeat, center;
    background-size: cover;
    z-index: -50;
}

#searchBar {
    display: inline-block;
}

#selectedImage {
    display: none;
}

.swatch {
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 4px;
}


.material-icons {
    font-size: 156px;
}


// mansory
.cards-container {
    column-break-inside: avoid;
}

.cards-container .card {
    display: inline-block;
    overflow: visible;
}

@media only screen and (max-width: 600px) {
    .cards-container {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 601px) {
    .cards-container {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 993px) {
    .cards-container {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}


.modal.top-sheet {
    top: 0% !important;
    bottom: auto !important;
    transition: transform cubic-bezier(0.22, 0.61, 0.36, 1) .2s;
    will-change: transform;
    transform: translate(0, -100%) scale(1) !important;
    width: 100%;
    opacity: 1 !important;
}

.modal.top-sheet.open {
    transition: transform cubic-bezier(0.22, 0.61, 0.36, 1) .35s .25s;
}

.modal.top-sheet.open:not([style*="display: none"]):not([style*="opacity: 0;"]) {
    transform: translate(0, 0%) !important;
}